.example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar-row, .mat-toolbar-single-row{
      background-color: cadetblue;
  }
  .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-butto{
      background-color: yellowgreen;
  }